body {
    background-color: white;
    color: black;
    font-family: monospace;
    text-align: center;
}


#apresentacao {


    font-family: monospace;
    text-align: center;
    font-size: 30px;
}

#aslinguagens {

    text-align: center;
    font-size: 30px;

}

#html1 {

    text-align: center;
    font-size: 40px;


}

#quais {

    font-size: 30px;
    text-align: center;

}


#html {

    text-align: center;
    font-size: 25px;

}

/*  CSS */


#css1 {

    font-size: 40px;

}

#css {

    font-size: 25px;

}

#JavaScript1 {
    font-size: 40px;
}

#JavaScript {

    font-size: 25px;

}

#C1 {

    font-size: 40px;
}

#C2 {

    font-size: 25px;
}

/*  Especificações  */




#spannn {


    color: red;
    font-weight: bold;

}